<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019-2029, Barton Wu (396264893@qq.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.assassinx.assassin.console.mapper.UserRoleMapper">

    <select id="insertUserRole">
        INSERT INTO user_role VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId},#{roleId})
        </foreach>
    </select>

    <select id="selectTenantUserRoleList" resultType="cn.assassinx.assassin.console.entity.UserRole">
        SELECT
        *
        FROM
        user_role a
        JOIN role b ON a.role_id = b.role_id AND b.del_flag = '0'
        JOIN product c ON b.product_id = c.product_id AND c.del_flag = '0'
        WHERE c.product_id = #{productId}
        AND a.user_id = #{userId}
    </select>

    <select id="selectTokenRemoveByRoleIds" resultType="cn.assassinx.assassin.console.async.TokenRemove">
        SELECT
        DISTINCT(b.client_id) AS clientId,
        #{account} AS account
        FROM
        oauth_client_details a
        INNER JOIN oauth_client_details b ON a.product_id = b.product_id
        INNER JOIN product c ON b.product_id = c.product_id AND c.del_flag = '0'
        INNER JOIN role d ON c.product_id = d.product_id AND d.del_flag = '0'
        WHERE role_id IN
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>

    <select id="selectTokenRemove" resultType="cn.assassinx.assassin.console.async.TokenRemove">
        SELECT
        DISTINCT(b.client_id) AS clientId,
        f.account AS account
        FROM
        oauth_client_details a
        INNER JOIN oauth_client_details b ON a.product_id = b.product_id
        INNER JOIN product c ON b.product_id = c.product_id AND c.del_flag = '0'
        INNER JOIN role d ON c.product_id = d.product_id AND d.del_flag = '0'
        INNER JOIN user_role e ON d.role_id = e.role_id
        INNER JOIN `user` f ON  e.user_id = f.user_id AND f.del_flag = '0'
        WHERE d.role_id = #{roleId}
    </select>

</mapper>
